.topic {
  background-color: coral;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  padding-top: 2rem;
}

.text {
  text-align: center;
  font-size: 0.70rem;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}